/* General Styles */
* {
    box-sizing: border-box;
    /* Ensure consistent box-sizing */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal overflow */
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: #000;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

header .logo img {
    height: 60px;
}

header .company-name {
    font-size: 1.8em;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    position: relative;
    margin-left: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: block;
    font-size: 1.1em;
}

header nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header nav ul li .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header nav ul li .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

header nav ul li:hover .dropdown-content {
    display: block;
}

/* Hero Section Styles */
.hero {
    position: relative;
    text-align: center;
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1));
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    color: black;
}

/* Programs Section Styles */
.programs {
    background-color: #000;
    text-align: center;
    padding: 40px 0;
}

.programs h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #ccc;
}

.programs p {
    font-size: 1.2em;
    margin: 0 30px;
    padding: 40px;
    color: #ccc;
}

.programs-container {
    padding: 40px;
    border: #000;
    border-radius: 50px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.program-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.program-column h3 {
    background-color: rgb(0, 0, 0);
    color: #f4f4f4;
    display: inline-block;
    width: 100px;
    /* Set the desired width */
    height: 50px;
    /* Set the desired height */
    line-height: 50px;
    /* Align text vertically */
    text-align: center;
    /* Align text horizontally */
    border: 1px solid #000;
    border-radius: 20px;
    /* Optional: Add a border */
    margin: 10px;
    /* Optional: Add some margin between boxes */
    padding: 20px;
}

.program-boxes {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.program-box {
    font-weight: bold;
    color: #ccc;
    background-color: #000;
    flex: 0 0 200px;
    margin: 10px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

/* Footer Styles */
.bottom {
    background-color: rgba(148, 4, 4, 0.402);
}

.footer-contentWrapper {
    background-color: #1f1f1f;
    color: #ccc;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.footer-block {
    background-color: #1f1f1f;
    color: #ccc;
    padding: 30px;
    flex: 1;
}